<a href="https://colab.research.google.com/github/param1707/Pandas/blob/main/DataframeBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Dataframes Basics**

In [1]:
import pandas as pd

# **Read a csv file from a repository to a dataframe**

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/pandas/2_dataframe_basics/weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

# **Read a datafarme from a dictionary such that key will become columns and value will become rows of dataframe**

In [3]:
weather_data = {
    'day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature':[32,35,28,24,32,31],
    'windspeed':[6,7,2,7,4,2],
    'event':['Rain','Sunny','Snow','Snow','Rain','Sunny']
}

In [4]:
weather_data

{'day': ['1/1/2017',
  '1/2/2017',
  '1/3/2017',
  '1/4/2017',
  '1/5/2017',
  '1/6/2017'],
 'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny'],
 'temperature': [32, 35, 28, 24, 32, 31],
 'windspeed': [6, 7, 2, 7, 4, 2]}

In [5]:
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [6]:
df.shape

(6, 4)

In [7]:
rows,column = df.shape
print("rows:",rows)
print("columns:",column)

rows: 6
columns: 4

### **Acess the first five, last five, and range of entries of dataframe**

In [8]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [9]:
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [11]:
df.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [14]:
df.tail(1)

        day  temperature  windspeed  event
5  1/6/2017           31          2  Sunny

# **Playing with the range of entries in a dataframe**

In [17]:
df[0:6]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [18]:
df[:2]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [19]:
df[2:]

        day  temperature  windspeed  event
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [20]:
df[:]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

# **Acessing the columns of dataframe by dot or by using the columns of dataframe as key to a dictionary**

In [21]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [22]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [23]:
df.temperature

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [25]:
df['windspeed']

0    6
1    7
2    2
3    7
4    4
5    2
Name: windspeed, dtype: int64

# **Instead of elements print the elements with column**

In [27]:
df[['event']]

   event
0   Rain
1  Sunny
2   Snow
3   Snow
4   Rain
5  Sunny

In [28]:
df[['event','day','temperature']]

   event       day  temperature
0   Rain  1/1/2017           32
1  Sunny  1/2/2017           35
2   Snow  1/3/2017           28
3   Snow  1/4/2017           24
4   Rain  1/5/2017           32
5  Sunny  1/6/2017           31

# **Analysing the statistics**

In [33]:
df[['temperature']].max()

temperature    35
dtype: int64

In [34]:
df[['temperature']].min()

temperature    24
dtype: int64

In [37]:
df[['windspeed']].mean()

windspeed    4.666667
dtype: float64

In [38]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

# **printing the particular row of dataframes using some sort of condition like sql**

In [43]:
df[['day','temperature','windspeed','event']]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [44]:
df[['day','temperature','windspeed','event']][df.temperature > 30]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [50]:
df[['day','temperature','windspeed','event']][df.temperature == df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [51]:
df[['day','temperature','windspeed','event']][df.day == '1/6/2017']

        day  temperature  windspeed  event
5  1/6/2017           31          2  Sunny

In [52]:
df[['day','temperature','windspeed','event']][df['windspeed'] == 7]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
3  1/4/2017           24          7   Snow

In [53]:
df[['day','temperature','windspeed','event']][df['event'] == 'Rain']

        day  temperature  windspeed event
0  1/1/2017           32          6  Rain
4  1/5/2017           32          4  Rain

In [54]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

# **Setting a particular column as an index**

In [55]:
df.set_index('day')

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [56]:
df.loc['1/1/2017']

KeyError: ignored

In [57]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [63]:
df.set_index('day',inplace= True)

In [64]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [66]:
df.loc['1/1/2017']

temperature      32
windspeed         6
event          Rain
Name: 1/1/2017, dtype: object

In [67]:
df.reset_index(inplace=True)

In [68]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [69]:
df.set_index('event',inplace= True)

In [70]:
df

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2

In [72]:
df.loc['Snow']

            day  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7