<a href="https://colab.research.google.com/github/param1707/Pandas/blob/main/(7)_concatPandasDataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **concate of two or more pandas dataframes**

In [1]:
import pandas as pd

In [5]:
india_weather = pd.DataFrame({
    "city":["mumbai","delhi","calcutta"],
    "temperature":[45,40,35],
    "humidity":[40,50,60]
})
india_weather

       city  temperature  humidity
0    mumbai           45        40
1     delhi           40        50
2  calcutta           35        60

In [6]:
Germany_weather = pd.DataFrame({
    "city":["frankfurt","berlin","munich"],
    "temperature":[15,18,13],
    "humidity":[14,15,16]
})
Germany_weather

        city  temperature  humidity
0  frankfurt           15        14
1     berlin           18        15
2     munich           13        16

In [7]:
new_df = pd.concat([india_weather,Germany_weather])
new_df

        city  temperature  humidity
0     mumbai           45        40
1      delhi           40        50
2   calcutta           35        60
0  frankfurt           15        14
1     berlin           18        15
2     munich           13        16

# **Inorder to change index**

In [8]:
new_df = pd.concat([india_weather,Germany_weather],ignore_index=True)
new_df

        city  temperature  humidity
0     mumbai           45        40
1      delhi           40        50
2   calcutta           35        60
3  frankfurt           15        14
4     berlin           18        15
5     munich           13        16

In [9]:
new_df = pd.concat([india_weather,Germany_weather],ignore_index=True,keys=["INDIA","GERMANY"])
new_df

        city  temperature  humidity
0     mumbai           45        40
1      delhi           40        50
2   calcutta           35        60
3  frankfurt           15        14
4     berlin           18        15
5     munich           13        16

# **Remove ignore_index**

In [10]:
new_df = pd.concat([india_weather,Germany_weather],keys=["INDIA","GERMANY"])
new_df

                city  temperature  humidity
INDIA   0     mumbai           45        40
        1      delhi           40        50
        2   calcutta           35        60
GERMANY 0  frankfurt           15        14
        1     berlin           18        15
        2     munich           13        16

# **using keys we can access sub dataframe from a main dataframe**

In [14]:
new_df.loc["INDIA"]

       city  temperature  humidity
0    mumbai           45        40
1     delhi           40        50
2  calcutta           35        60

In [15]:
new_df.loc["GERMANY"]

        city  temperature  humidity
0  frankfurt           15        14
1     berlin           18        15
2     munich           13        16

# **concate two data frame along the column**

In [16]:
Germany_weather = pd.DataFrame({
    "city":["frankfurt","berlin","munich"],
    "temperature":[15,18,13],
    "humidity":[14,15,16]
})
Germany_weather

        city  temperature  humidity
0  frankfurt           15        14
1     berlin           18        15
2     munich           13        16

In [17]:
Germany_weather_w = pd.DataFrame({
    "city":["frankfurt","berlin","munich"],
    "windspeed":[150,180,130],
})
Germany_weather_w

        city  windspeed
0  frankfurt        150
1     berlin        180
2     munich        130

In [18]:
new_df = pd.concat([Germany_weather,Germany_weather_w])
new_df

        city  temperature  humidity  windspeed
0  frankfurt         15.0      14.0        NaN
1     berlin         18.0      15.0        NaN
2     munich         13.0      16.0        NaN
0  frankfurt          NaN       NaN      150.0
1     berlin          NaN       NaN      180.0
2     munich          NaN       NaN      130.0

In [19]:
new_df = pd.concat([Germany_weather,Germany_weather_w],axis=1)
new_df

        city  temperature  humidity       city  windspeed
0  frankfurt           15        14  frankfurt        150
1     berlin           18        15     berlin        180
2     munich           13        16     munich        130

# **suppose my data is in different order**

In [22]:
Germany_weather_w = pd.DataFrame({
    "city":["munich","frankfurt","berlin"],
    "windspeed":[150,180,130],
})
Germany_weather_w

        city  windspeed
0     munich        150
1  frankfurt        180
2     berlin        130

In [23]:
Germany_weather = pd.DataFrame({
    "city":["frankfurt","berlin","munich"],
    "temperature":[15,18,13],
    "humidity":[14,15,16]
})
Germany_weather

        city  temperature  humidity
0  frankfurt           15        14
1     berlin           18        15
2     munich           13        16

In [24]:
new_df = pd.concat([Germany_weather,Germany_weather_w],axis=1)
new_df

        city  temperature  humidity       city  windspeed
0  frankfurt           15        14     munich        150
1     berlin           18        15  frankfurt        180
2     munich           13        16     berlin        130

In [25]:
Germany_weather_w = pd.DataFrame({
    "city":["munich","frankfurt","berlin"],
    "windspeed":[150,180,130],
},index=[2,0,1])
Germany_weather_w

        city  windspeed
2     munich        150
0  frankfurt        180
1     berlin        130

In [26]:
Germany_weather = pd.DataFrame({
    "city":["frankfurt","berlin","munich"],
    "temperature":[15,18,13],
    "humidity":[14,15,16]
},index=[0,1,2])
Germany_weather

        city  temperature  humidity
0  frankfurt           15        14
1     berlin           18        15
2     munich           13        16

In [27]:
new_df = pd.concat([Germany_weather,Germany_weather_w],axis=1)
new_df

        city  temperature  humidity       city  windspeed
0  frankfurt           15        14  frankfurt        180
1     berlin           18        15     berlin        130
2     munich           13        16     munich        150

# **concating a series and dataframe**

In [28]:
new_s = pd.Series(["humid","dry","rainy"],name="event")
new_s

0    humid
1      dry
2    rainy
Name: event, dtype: object

In [29]:
Germany_weather_w = pd.DataFrame({
    "city":["munich","frankfurt","berlin"],
    "windspeed":[150,180,130],
},index=[2,0,1])
Germany_weather_w

        city  windspeed
2     munich        150
0  frankfurt        180
1     berlin        130

In [32]:
new_df = pd.concat([Germany_weather_w,new_s],axis=1)
new_df

        city  windspeed  event
0  frankfurt        180  humid
1     berlin        130    dry
2     munich        150  rainy