<a href="https://colab.research.google.com/github/param1707/Pandas/blob/main/(8)_MergeDataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Merge Dataframes**

In [2]:
import pandas as pd

In [3]:
Germany_weather = pd.DataFrame({
    "city":["frankfurt","berlin","munich"],
    "temperature":[15,18,13],
    "humidity":[14,15,16]
})
Germany_weather

        city  temperature  humidity
0  frankfurt           15        14
1     berlin           18        15
2     munich           13        16

In [4]:
Germany_weather_w = pd.DataFrame({
    "city":["munich","frankfurt","berlin"],
    "windspeed":[150,180,130],
})
Germany_weather_w

        city  windspeed
0     munich        150
1  frankfurt        180
2     berlin        130

In [6]:
new_df = pd.merge(Germany_weather,Germany_weather_w,on="city")
new_df

        city  temperature  humidity  windspeed
0  frankfurt           15        14        180
1     berlin           18        15        130
2     munich           13        16        150

In [7]:
weather_event = pd.DataFrame({
    "city":["berlin","munich","frankfurt"],
    "event":["dry","humid","rainy"]
})
weather_event

        city  event
0     berlin    dry
1     munich  humid
2  frankfurt  rainy

In [13]:
new_df = pd.merge(Germany_weather,Germany_weather_w,on="city")
new_df

        city  temperature  humidity  windspeed
0  frankfurt           15        14        180
1     berlin           18        15        130
2     munich           13        16        150

# **joins in dataframes**

In [15]:
Germany_weather = pd.DataFrame({
    "city":["frankfurt","berlin","munich","stutgart","cologne","erlangen"],
    "temperature":[15,18,13,12,17,19],
    "humidity":[14,15,16,22,24,25]
})
Germany_weather

        city  temperature  humidity
0  frankfurt           15        14
1     berlin           18        15
2     munich           13        16
3   stutgart           12        22
4    cologne           17        24
5   erlangen           19        25

In [20]:
weather_event = pd.DataFrame({
    "city":["berlin","munich","frankfurt","hamburg"],
    "event":["dry","humid","rainy","fog"]
})
weather_event

        city  event
0     berlin    dry
1     munich  humid
2  frankfurt  rainy
3    hamburg    fog

In [21]:
new_df = pd.merge(Germany_weather,weather_event,on="city")
new_df

        city  temperature  humidity  event
0  frankfurt           15        14  rainy
1     berlin           18        15    dry
2     munich           13        16  humid

In [22]:
new_df = pd.merge(Germany_weather,weather_event,on="city",how="inner")
new_df

        city  temperature  humidity  event
0  frankfurt           15        14  rainy
1     berlin           18        15    dry
2     munich           13        16  humid

In [23]:
new_df = pd.merge(Germany_weather,weather_event,on="city",how="outer")
new_df

        city  temperature  humidity  event
0  frankfurt         15.0      14.0  rainy
1     berlin         18.0      15.0    dry
2     munich         13.0      16.0  humid
3   stutgart         12.0      22.0    NaN
4    cologne         17.0      24.0    NaN
5   erlangen         19.0      25.0    NaN
6    hamburg          NaN       NaN    fog

In [24]:
new_df = pd.merge(Germany_weather,weather_event,on="city",how="left")
new_df

        city  temperature  humidity  event
0  frankfurt           15        14  rainy
1     berlin           18        15    dry
2     munich           13        16  humid
3   stutgart           12        22    NaN
4    cologne           17        24    NaN
5   erlangen           19        25    NaN

In [25]:
new_df = pd.merge(Germany_weather,weather_event,on="city",how="right")
new_df

        city  temperature  humidity  event
0     berlin         18.0      15.0    dry
1     munich         13.0      16.0  humid
2  frankfurt         15.0      14.0  rainy
3    hamburg          NaN       NaN    fog

# **you know from where data came in joins**

In [26]:
new_df = pd.merge(Germany_weather,weather_event,on="city",how="outer",indicator=True)
new_df

        city  temperature  humidity  event      _merge
0  frankfurt         15.0      14.0  rainy        both
1     berlin         18.0      15.0    dry        both
2     munich         13.0      16.0  humid        both
3   stutgart         12.0      22.0    NaN   left_only
4    cologne         17.0      24.0    NaN   left_only
5   erlangen         19.0      25.0    NaN   left_only
6    hamburg          NaN       NaN    fog  right_only